doctype html
html
  head
    meta(charset='UTF-8')
    title= title
    link(rel='stylesheet' type="text/css" href='/stylesheets/'+url)
    script(type='text/javascript' src='http://code.jquery.com/jquery-latest.js')
  body
    block content