<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/signin.css">
</head>
<body>
<div>
    <h1>用户详情</h1>
    <table border="1">
        <tr>
            <th>用户名</th>
            <td>{username}</td>
        </tr>
        <tr>
            <th>学号</th>
            <td>{id}</td>
        </tr>
        <tr>
            <th>电话</th>
            <td>{phone}</td>
        </tr>
        <tr>
            <th>邮箱</th>
            <td>{email}</td>
        </tr>
    </table>
</div>
</body>
</html>