body {
    background: url("../images/background.jpg") no-repeat fixed;
    background-size: 100% 100%;
}
.user_info{
    margin: 100px auto;
    width: 380px;
    height: 360px;
    background-color: rgba(240,248,255, 0.4);
}

h1{
    margin: 50px auto 50px 40px;
    padding-top: 30px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.5em;
}

form label{
    margin-left: 16px;
    width: 70px;
    display:inline-block;
    text-align: right;

    font-size: 20px;
}

form #username,#password{
    margin: 5px 15px;
    padding-left: 5px;
    width: 220px;
    height: 30px;
    display: inline-block;

    font-size: 18px;
}

.err{
    margin: 0 0 0 99px;
    padding: 0;
    height: 20px;
    font-size: 11px;
    color: red;
}

.buttons{
    margin: 10px auto auto 60px;
    padding: 0;
    width: 400px;
}

.button{
    margin: 0 20px;
    padding: 5px 5px 5px 10px;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: rgba(210, 105, 30, 0.3);
    font-size: 15px;
    text-align: center;
    letter-spacing: 10px;
}

div .switch{
    float: right;
    margin: 20px 5px auto auto;
    width: 50px;
}